body{
    background: black;
    overflow: hidden;
}
#wrapper{
    display: block;
    margin: 0 auto;
    height: auto;
    padding-top: 60px;
    width: 75%;
    overflow: auto;
    color: white;
    /* border: 2px solid red; */
}
#core{
    position: absolute;
    transform: rotate(20deg);
    animation: lookaround 7s linear 1s infinite;
}
@keyframes lookaround {
    20% { transform: rotate(20deg)}
    30%{ transform: rotate(50deg)}
    65%{ transform: rotate(30deg)}
    85%{ transform: rotate(40deg)}
    100%{ transform: rotate(20deg)}
}
#leftside{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    /* background: blue; */
}
#hoverglados{
    display: block;
    position: absolute;
    width: 120px;
    height: 220px;
    left: 24%;
    top: 55%;
}
#leftside img{
    width: auto;
    height: 100%;
    margin: 20px;
}
#rightside{
    display: block;
    float: right;
    width: 50%;
    height: 100%;
    /* background: green; */
    text-align: center;
}
#aperturelogo{
    width: 100%;
}
#headline{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
}
#mvquote{
    display: block;
    font-size: 1.5em;
    margin: 70px;
}
.caption{
    font-size: 2em;
    display: block;
    font-weight: lighter;
    margin: 30px;
}
#cast span{
    margin: 10px;
}
@media screen and (max-width: 1300px) {
    #core img{
        width: 100px;
        height: auto;
    }
    #wrapper{
        width: 100%;
    }
    #aperturelogo{
        width: 80%;
    }
}
@media screen and (max-width: 1100px) {
    #mvlogo{
        width: 70%;
    }
}
@media screen and (max-width: 800px) {
    #mvlogo{
        width: 80%;
    }
    #leftside{
        display: none;
    }
    #rightside{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    #mvlogo{
        width: 90%;
    }
    #leftside{
        display: none;
    }
    #rightside{
        width: 100%;
    }
    .caption{
        margin: 15px;
    }
    #mvquote{
        font-size: 1.2em;
        margin: 30px;
    }
    #cast{
        width: 80%;
        margin: 0 auto;
    }
}